body, h1, h3, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
}

/* Setting default font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

/* Styling header */
header {
    display: flex;
    align-items: flex-end; /* Align items vertically to the top */
    justify-content: center; /* Center items horizontally */
    padding: 5px 20px; /* Adjust padding as needed */
    background-color: white; /* Header background color */
    text-align: center; 
}

.Logo_Image {
    display: block; /* Ensures the image is treated as a block element */
    margin: 0 auto; /* Centers the image horizontally */
}

.Line{
    border: none; /* Removes the default border style */
    border-top: 3px solid rgb(1, 1, 78); /* Adds a 1px solid black border on top */
    margin: 0; /* Ensures no margin for the <hr> element */
    width: 100%; /* Makes the line span the full width of the container */
}
header h1 {
    font-size: 24px; /* Font size for the main heading */
    margin-bottom: 10px; /* Add some space below the main heading */
}

header img {
    margin: 0 10px; /* Add some space between the social media icons */
}

header ul {
    list-style-type: none; /* Remove bullet points from the list */
}

header ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add some space between list items */
}

header ul li a {
    color:red; /* Link color */
    text-decoration: none; /* Remove underline from links */
}

/* Styling main content */
main {
    padding: 20px;
    color:white;
    text-align: center; 
    position: relative; /* Position relative for absolute positioning */
    
}

main::before {
    content: "";
    background-image: url('Other_Images/Home_BG.png'); /* Set background image for the main section */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 1.0;
    left: 0;
    width: 100%; /* Set the width to cover half of the main section */
    height: 20%;
    z-index: -1; /* Ensure it stays behind other content */
}
.black-text {
    color: black;
}
main p {
    margin-bottom: 20px;
    
}

main h3 {
    color: rgb(1, 1, 78); /* Set text color to white */
    margin-bottom: 10px;
    text-align:left;

  }
/* Styling footer */
footer {
    background-color: rgb(1, 1, 78); /* Footer background color */
    color: white; /* Text color */
    padding: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
}

.contact {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the left */
}

.phone-info,
.email-info {
    display: flex;
    align-items: center; /* Align items vertically */
}

.phone-info img,
.email-info img {
    margin-right: 10px; /* Add space between logo and text */
}

.contact img {
    margin-right: 10px; /* Add space between icons and text */
}

.site-map ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    text-align: center; /* Center-align the list */
}

.site-map li {
    display: block; /* Display list items horizontally */
    margin: 0 10px; /* Add space between list items */
}

.newsletter {
    text-align: right; /* Align text to the right */
}